<% include header %>

<h3>About</h3>
<br>
<h2> What is Gamify Tasks?</h2>
<p>Gamify tasks allows you to turn responsibilities into games. You create "tasks" out of your responsibilities, and give them point values. When you complete those tasks, you earn those points. You can then create "rewards" for yourself out things you enjoy doing, but maybe should do less of, like going out with friends or playing video games. You then assign point costs to those rewards and by them with points you earn from doing tasks.</p>
<br>
<h2>Why Gamify?</h2>
<p>In life, we are required to do many things that just aren't enjoyable. But there are some things in life that are enjoyable, like games. So why not make hard things more enjoyable by making them more like games. A job well done is a motivator in unto itself. But a job well done that earns you something is even more motivating. And a job well done that brings you closer to earning something you want is even more motivating then that. Many have been able gain control, find balance and do more with their lives, just by gamifying it.</p>
<br>
<h2>Why are there different color points?</h2>
<p> Those are for flexibility. You can assign the different colors to different themes. You could make red "social", with hard things you need to do socially, like call home or adding a person to your professional network, earning red points, and then buying socially fun things, like a night out dancing, with the red points. Or you could something more reciprocal, like earning red points by reading a book instead. You can use all of the colors, some, or even just one if that is what works best for you.</p>
<br>
<h2>Who made Gamify Tasks?</h2>
<p>Gamify Tasks was made by BYU Computer Science students Dan Minert and Brian Campbell as part of a class project.</p>

<% include footer %>