<% include common/header %>

<div class="row-fluid">
	<div class="col-md-12">
		<h3>Home page</h3>
	</div>
</div>

<div class="row-fluid row-buffer">
	<div class="col-md-12">
		<h2>Welcome to Gamify Tasks</h2>
	</div>
</div>

<div class="row-fluid row-buffer">
	<div class="col-md-12">
		<p>Bored with chores?  Tired of the tedium?  Make it a game! <a href="/About">Gamification can help</a> you accomplish your goals and reach your dreams.</p>
	</div>
</div>

<div class="row-fluid row-buffer">
	<div class="col-md-5"></div>
	<div class="col-md-2"><a href="/login" class="btn btn-default center">Sign up now!</a></div>
	<div class="col-md-5"></div>
</div>


<div class="row-fluid row-buffer">
	<div class="col-md-6">
		<img style="width: 100%" src="https://raw.githubusercontent.com/GamifyTasksTeam/GamifyTasks/master/mockup/MainPage.png"/>
	</div>
	<div class="col-md-6">
		<img style="width: 100%" src="https://raw.githubusercontent.com/GamifyTasksTeam/GamifyTasks/master/mockup/AddPage.png" />
	</div>
</div>

<% include common/script %>
<% include common/footer %>