body {
	padding-top: 60px;
}

.row-buffer {
	padding:30px;
}

.error {
    color: red;
}

.inputPoints {
	width: 4em;
}

.redPoints {
	color: red;
}

.bluePoints {
	color: blue;
}

.greenPoints {
	color: green;
}

.purplePoints {
	color: purple;
}

.wallet {
	font-size: 24px;
}

.panel-task {
	border-color: #0066BB;
}
.panel-task>.panel-heading {
	color: #fff;
	background-color: #0066BB;
	border-color: #0066BB;
}

.panel-add-task {
	border-color: #003366;
}
.panel-add-task>.panel-heading {
	color: #fff;
	background-color: #003366;
	border-color: #003366;
}

.panel-reward {
	border-color: #0C9900;
}
.panel-reward>.panel-heading {
	color: #fff;
	background-color: #0C9900;
	border-color: #0C9900;
}

.panel-add-reward {
	border-color: #075500;
}
.panel-add-reward>.panel-heading {
	color: #fff;
	background-color: #075500;
	border-color: #075500;
}