<div id="rewards" class="col-md-6">
	<h2>Rewards</h2>
	{{#each reward in rewards}}
		<div class="row-fluid">
			<div class="col-md-12">
				{{reward.name}}
				<button {{action "redeemReward" reward wallet.firstObject}}> Redeem!</button>
				<p>Red:{{reward.red}}	Green:{{reward.green}}	Blue: {{reward.blue}} Purple: {{reward.purple}}	</p>
			</div>
		</div>
	{{/each}}
	<div class="row-fluid">
		<div class="col-md-12">
			<form id="newRewardForm" {{action "addReward" on="submit"}}>
				New reward:{{input type='text' value=newRewardTitle}}
				<br>
				<span> Red:{{input type='text' value=newRewardRed name='newRewardRed'}} </span> 
				<span> Green:{{input type='text' value=newRewardGreen name='newRewardGreen'}} </span>
				<span> Blue:{{input type='text' value=newRewardBlue name='newRewardBlue'}} </span>
				<span> Purple:{{input type='text' value=newRewardPurple name='newRewardPurple'}} </span>
				<input type='submit' value="Add"></input>
			</form>
		</div>
	</div>
</div>


</div><!-- #tasksAndRewards -->