<div id="rewards" class="col-md-6">
	<h2>Rewards</h2>
	{{#each reward in rewards}}
		<div class="row-fluid">
			<div class="col-md-12">
				<div class="panel panel-reward">
					<div class="panel-heading clearfix">
						<h3 class="pull-left panel-title">Reward: {{reward.name}}</h3>
						{{#if reward.persistent }}
							<span class="pull-right glyphicon glyphicon-pushpin"></span>
						{{/if}}
					</div>
					<div class="panel-body" {{bindAttr id="reward.normalId"}}>
						
							<span> Red: <strong class="redPoints">{{reward.red}}</strong></span>
							<span> Green: <strong class="greenPoints">{{reward.green}}</strong></span>
							<span> Blue: <strong class="bluePoints">{{reward.blue}}</strong></span>
							<span> Purple: <strong class="purplePoints">{{reward.purple}}</strong></span>
							<div class="btn-group pull-right">
								<button class="btn btn-default" {{action "deleteReward" reward}}><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
								<button class="btn btn-default" {{action "startEditReward" reward}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
								<button class="btn btn-primary" {{action "redeemReward" reward wallet.firstObject}}><span class="glyphicon glyphicon-ok"></span> Claim</button>
							</div>
						</div>
						<div class="panel-body" {{bindAttr id="reward.editId"}} hidden>
							<div>Name: {{input type='text' value=reward.name name='updateRewardName'}}</div>
							
							<span> Red: {{view Gamify.NumberField min='0' max='999' step='1' value=reward.red name='updateRewardRed' maxlength='3' class='redPoints inputPoints' }} </span>
							<span> Green: {{view Gamify.NumberField min='0' max='999' step='1' value=reward.green name='updateRewardGreen' maxlength='3' class='greenPoints inputPoints' }} </span>
							<span> Blue: {{view Gamify.NumberField min='0' max='999' step='1' value=reward.blue name='updateRewardBlue' maxlength='3' class='bluePoints inputPoints' }} </span>
							<span> Purple: {{view Gamify.NumberField min='0' max='999' step='1' value=reward.purple name='updateRewardPurple' maxlength='3' class='purplePoints inputPoints' }} </span>
							<button class="btn btn-primary pull-right" {{action "finishEditReward" reward wallet.firstObject}}><span class="glyphicon glyphicon-ok"></span> Save</button>
							<div> Pin Reward {{input type="checkbox" class="toggle" name='persistent' checked=reward.persistent}} (Do not remove after claiming)</div>
						</div>
				</div>
			</div>
		</div>
	{{/each}}
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="panel panel-add-reward">
				<div class="panel-heading">
					<h3 class="panel-title">Add New Reward</h3>
				</div>
				<div class="panel-body">
					<form id="newRewardForm" {{action "addReward" on="submit"}}>
						Name: {{input type='text' value=newRewardTitle name='newRewardName'}}
						<br>
						<span> Red:{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardRed name='newRewardRed' maxlength='3' class='redPoints inputPoints' }} </span> 
						<span> Green:{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardGreen name='newRewardGreen' maxlength='3' class='greenPoints inputPoints' }} </span>
						<span> Blue:{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardBlue name='newRewardBlue' maxlength='3' class='bluePoints inputPoints' }} </span>
						<span> Purple:{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardPurple name='newRewardPurple' maxlength='3' class='purplePoints inputPoints' }} </span>
						<button class="btn btn-primary pull-right" type='submit'>
							<span class="glyphicon glyphicon-plus"></span> Add
						</button>
						<div> Pin Reward {{input type="checkbox" class="toggle" name='persistent' checked=newRewardPersistent}} (Do not remove after claiming)</div>
					</form>
					<ul id="newRewardFormError"></ul>
				</div>
			</div>
		</div>
	</div>
</div>


</div><!-- #rewardsAndRewards -->