<div id="rewards" class="col-md-6">
	<div class="row-fluid">
		<div class="col-md-12" style="text-align:center">
			<h2>Rewards</h2>
		</div>
	</div>
	{{#each reward in rewards}}
		<div class="row-fluid">
			<div class="col-md-12">
				<div class="panel panel-reward">
					<div class="panel-heading clearfix">
						<h3 class="pull-left panel-title">Reward: {{reward.name}}</h3>
						{{#if reward.persistent }}
							<span class="pull-right glyphicon glyphicon-pushpin"></span>
						{{/if}}
					</div>
					<div class="panel-body" {{bindAttr id="reward.normalId"}}>
						
							<span> Red: <strong class="redPoints">{{reward.red}}</strong></span>
							<span> Green: <strong class="greenPoints">{{reward.green}}</strong></span>
							<span> Blue: <strong class="bluePoints">{{reward.blue}}</strong></span>
							<span> Purple: <strong class="purplePoints">{{reward.purple}}</strong></span>
							<div class="btn-group pull-right">
								<button class="btn btn-default" {{action "deleteReward" reward}}><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
								<button class="btn btn-default" {{action "startEditReward" reward}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
								<button class="btn btn-primary" {{action "redeemReward" reward wallet.firstObject}}><span class="glyphicon glyphicon-ok"></span> Claim</button>
							</div>
					</div>

					<div class="panel-body" {{bindAttr id="reward.editId"}} hidden>
						<form class="rewardForm" {{bindAttr id="reward.id"}} {{action "finishEditReward" reward wallet.firstObject on="submit"}}>
							<div class="row-fluid">
								<div class="col-md-12  less-padded-column">
									<div class="input-group">
										<span class="input-group-addon">Name</span>
										{{input type='text' value=reward.name name='rewardName' class='form-control'}}
									</div>
								</div>
							</div>
							<div class="row-fluid row-buffer-small">
								<div class="col-md-3 less-padded-column">
									<span class="input-group">
										<span class="input-group-addon">Red</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=reward.red name='rewardRed' maxlength='3' class='form-control redPoints inputPoints' }}
									</span>
								</div>
								<div class="col-md-3 less-padded-column"> 
									<span class="input-group">
										<span class="input-group-addon">Green</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=reward.green name='rewardGreen' maxlength='3' class='form-control greenPoints inputPoints' }}
									</span>
								</div>
								<div class="col-md-3 less-padded-column">
									<span class="input-group">
										<span class="input-group-addon">Blue</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=reward.blue name='rewardBlue' maxlength='3' class='form-control bluePoints inputPoints' }}
									</span>
								</div>
								<div class="col-md-3 less-padded-column">							
									<span class="input-group">
										<span class="input-group-addon">Purple</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=reward.purple name='rewardPurple' maxlength='3' class='form-control purplePoints inputPoints' }}
									</span>
								</div>
							</div>
							
							<div class="row-fluid">
								<div class="col-md-10  less-padded-column">Pin Reward {{input type="checkbox" class="toggle" name='persistent' checked=reward.persistent }} (Do not remove after claiming)</div>
								<div class="col-md-2  less-padded-column">
									<button class="btn btn-primary pull-right" type="submit">
										<span class="glyphicon glyphicon-ok"></span>
										<span>Save</span>
									</button>
								</div>
							</div>
							<ul class="rewardFormError"></ul>
						</form>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="panel panel-add-reward">
				<div class="panel-heading">
					<h3 class="panel-title">Add New Reward</h3>
				</div>
				<div class="panel-body">
					<form id="newRewardForm" class="rewardForm" {{action "addReward" on="submit"}}>
						<div class="row-fluid">
							<div class="col-md-12  less-padded-column">
								<div class="input-group">
									<span class="input-group-addon">Name</span>
									{{input type='text' value=newRewardTitle name='rewardName' class='form-control'}}
								</div>
							</div>
						</div>
						<div class="row-fluid row-buffer-small">
							<div class="col-md-3 less-padded-column">
								<span class="input-group">
									<span class="input-group-addon">Red</span>
									{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardRed name='rewardRed' maxlength='3' class='form-control redPoints inputPoints' }}
								</span>
							</div>
							<div class="col-md-3 less-padded-column"> 
								<span class="input-group">
									<span class="input-group-addon">Green</span>
									{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardGreen name='rewardGreen' maxlength='3' class='form-control greenPoints inputPoints' }}
								</span>
							</div>
							<div class="col-md-3 less-padded-column">
								<span class="input-group">
									<span class="input-group-addon">Blue</span>
									{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardBlue name='rewardBlue' maxlength='3' class='form-control bluePoints inputPoints' }}
								</span>
							</div>
							<div class="col-md-3 less-padded-column">							
								<span class="input-group">
									<span class="input-group-addon">Purple</span>
									{{view Gamify.NumberField min='0' max='999' step='1' value=newRewardPurple name='rewardPurple' maxlength='3' class='form-control purplePoints inputPoints' }}
								</span>
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="col-md-10  less-padded-column">Pin Reward {{input type="checkbox" class="toggle" name='persistent' checked=newRewardPersistent}} (Do not remove after claiming)</div>
							<div class="col-md-2  less-padded-column">
								<button class="btn btn-primary pull-right" type="submit">
									<span class="glyphicon glyphicon-plus"></span> Add
								</button>
							</div>
						</div>
						<ul class="rewardFormError"></ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


</div><!-- #rewardsAndRewards -->