	<div id="tasks" class="col-md-6">
		<h2>Tasks</h2>
		{{#each task in tasks}}
			<div class="row-fluid">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{task.name}}</h3>
						</div>
						<div class="panel-body">
							<span> Red:{{task.red}}	Green:{{task.green}} Blue: {{task.blue}} Purple: {{task.purple}} </span>
							<button {{action "finishTask" task wallet.firstObject}}> Done</button>
						</div>
					</div>				
				</div>
			</div>
		{{/each}}
		<div class="row-fluid">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">New Task</h3>
					</div>
					<div class="panel-body">
						<form id="newTaskForm" {{action "addTask" on="submit"}}>
							<div>Name: {{input type='text' value=newTitle name='newTaskName'}}</div>
		
							<span> Red:{{input type='text' value=newRed name='newTaskRed' maxlength='3' class='redPoints inputPoints' }} </span>
							<span> Green:{{input type='text' value=newGreen name='newTaskGreen' maxlength='3' class='greenPoints inputPoints' }} </span>
							<span> Blue:{{input type='text' value=newBlue name='newTaskBlue' maxlength='3' class='bluePoints inputPoints' }} </span>
							<span> Purple:{{input type='text' value=newPurple name='newTaskPurple' maxlength='3' class='purplePoints inputPoints' }} </span>
							<input type='submit' value="Add"></input>
						</form>
						<ul id="newTaskFormError"></ul>
					</div>
				</div>			
			</div>
		</div>
	</div>
