	<div id="tasks" class="col-md-6">
		<div class="row-fluid">
			<div class="col-md-12" style="text-align:center">
				<h2>Tasks</h2>
			</div>
		</div>
		{{#each task in tasks}}
			<div class="row-fluid">
				<div class="col-md-12">
					<div class="panel panel-task">
						<div class="panel-heading">
							<h3 class="panel-title">Task: {{task.name}}</h3>
						</div>
						<div class="panel-body" {{bind-attr id="task.normalId"}}>
						
							<span> Red: <strong class="redPoints">{{task.red}}</strong></span>
							<span> Green: <strong class="greenPoints">{{task.green}}</strong></span>
							<span> Blue: <strong class="bluePoints">{{task.blue}}</strong></span>
							<span> Purple: <strong class="purplePoints">{{task.purple}}</strong></span>
							<div class="btn-group pull-right">
								<button class="btn btn-default" {{action "deleteTask" task}}><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
								<button class="btn btn-default" {{action "startEditTask" task}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
								<button class="btn btn-primary" {{action "finishTask" task wallet.firstObject}}><span class="glyphicon glyphicon-ok"></span> Done</button>
							</div>
						</div>
						
						<div class="panel-body" {{bind-attr id="task.editId"}} hidden>
							<form class="taskForm" {{bind-attr id="task.id"}} {{action "finishEditTask" task wallet.firstObject on="submit"}}>
								<div class="row-fluid">
									<div class="col-md-12  less-padded-column">
										<div class="input-group">
											<span class="input-group-addon">Name</span>
											{{input type='text' value=task.name name='taskName' class='form-control'}}
										</div>
									</div>
								</div>
								<div class="row-fluid row-buffer-small">
									<div class="col-md-3 less-padded-column">
										<span class="input-group">
											<span class="input-group-addon">Red</span>
											{{view Gamify.NumberField min='0' max='999' step='1' value=task.red name='taskRed' maxlength='3' class='form-control redPoints inputPoints' }}
										</span>
									</div>
									<div class="col-md-3 less-padded-column"> 
										<span class="input-group">
											<span class="input-group-addon">Green</span>
											{{view Gamify.NumberField min='0' max='999' step='1' value=task.green name='taskGreen' maxlength='3' class='form-control greenPoints inputPoints' }}
										</span>
									</div>
									<div class="col-md-3 less-padded-column">
										<span class="input-group">
											<span class="input-group-addon">Blue</span>
											{{view Gamify.NumberField min='0' max='999' step='1' value=task.blue name='taskBlue' maxlength='3' class='form-control bluePoints inputPoints' }}
										</span>
									</div>
									<div class="col-md-3 less-padded-column">							
										<span class="input-group">
											<span class="input-group-addon">Purple</span>
											{{view Gamify.NumberField min='0' max='999' step='1' value=task.purple name='taskPurple' maxlength='3' class='form-control purplePoints inputPoints' }}
										</span>
									</div>
								</div>
								
								<div class="row-fluid">
									<div class="col-md-12  less-padded-column">
										<button class="btn btn-primary pull-right" type="submit">
											<span class="glyphicon glyphicon-ok"></span>
											<span>Save</span>
										</button>
									</div>
								</div>
								<ul class="taskFormError"></ul>
							</form>
						</div>
					</div>				
				</div>
			</div>
		{{/each}}
		<div class="row-fluid">
			<div class="col-md-12">
				<div class="panel panel-add-task">
					<div class="panel-heading">
						<h3 class="panel-title">Add New Task</h3>
					</div>

					<div class="panel-body">
						<form id="newTaskForm" class="taskForm" {{action "addTask" on="submit"}}>
							<div class="row-fluid">
								<div class="col-md-12  less-padded-column">
									<div class="input-group">
										<span class="input-group-addon">Name</span>
										{{input type='text' value=newTitle name='taskName' class='form-control'}}
									</div>
								</div>
							</div>
							<div class="row-fluid row-buffer-small">
								<div class="col-md-3 less-padded-column">
									<span class="input-group">
										<span class="input-group-addon">Red</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=newRed name='taskRed' maxlength='3' class='form-control redPoints inputPoints' }}
									</span>
								</div>
								<div class="col-md-3 less-padded-column"> 
									<span class="input-group">
										<span class="input-group-addon">Green</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=newGreen name='taskGreen' maxlength='3' class='form-control greenPoints inputPoints' }}
									</span>
								</div>
								<div class="col-md-3 less-padded-column">
									<span class="input-group">
										<span class="input-group-addon">Blue</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=newBlue name='taskBlue' maxlength='3' class='form-control bluePoints inputPoints' }}
									</span>
								</div>
								<div class="col-md-3 less-padded-column">							
									<span class="input-group">
										<span class="input-group-addon">Purple</span>
										{{view Gamify.NumberField min='0' max='999' step='1' value=newPurple name='taskPurple' maxlength='3' class='form-control purplePoints inputPoints' }}
									</span>
								</div>
							</div>
							
							<div class="row-fluid">
								<div class="col-md-12  less-padded-column">
									<button class="btn btn-primary pull-right" type='submit'>
										<span class="glyphicon glyphicon-plus"></span> Add
									</button>
								</div>
							</div>
							<ul class="taskFormError"></ul>
						</form>
					</div>
				</div>			
			</div>
		</div>
	</div>
