<div class="wallet row-fluid">
	<div class="col-md-6 col-md-offset-3" style="text-align: center">
		<div class="panel panel-default">
			<div class="panel-body">
				{{#each wallet}}
					<p class="wallet">
						<span> Red: <strong class="redPoints">{{red}}</strong> </span>
						<span> Green: <strong class="greenPoints">{{green}}</strong> </span>
						<span> Blue: <strong class="bluePoints">{{blue}}</strong> </span>
						<span> Purple: <strong class="purplePoints">{{purple}}</strong> </span>
					</p>
				{{/each}}
			</div>
		</div>
	</div>
</div>

<div id="tasksAndRewards" class="row-fluid">